includes:
	- phpstan-baseline.neon

parameters:
	paths:
		- src
		- tests
	excludePaths:
		- tests/PHPStan/*/data/*
		- tests/PHPStan/Parser/Doctrine/ApiResource.php
	level: 8
	ignoreErrors:
		- '#^Dynamic call to static method PHPUnit\\Framework\\Assert#'
		-
			identifier: return.unusedType
			path: tests/*
