<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xml"
>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="tests/tmp/clover.xml"/>
            <text
                outputFile="php://stdout"
                showUncoveredFiles="true"
                showOnlySummary="true"
            />
        </report>
    </coverage>

    <testsuites>
        <testsuite name="PHPStan PHPDoc Parser">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <logging/>
</phpunit>
