<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.2/phpunit.xsd"
	bootstrap="bootstrap.php"
	colors="true"
	failOnRisky="true"
	failOnWarning="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	verbose="false">
	<testsuite>
		<directory suffix="Test.php">PHPStan</directory>
	</testsuite>
</phpunit>

